// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2018a
// ---------------------------------
//
// Projeto      : Projeto I-VM
// File         : add1.vm
//
// Descritivo   : 
//  Adiciona 123 + 23 e salva o resultado  no temp 0
//
// ----------------------------------

function Main.main 0
